In [1]:
import vectorbtpro as vbt

[04/12/23 15:03:46] WARNING  c:\Users\natta\anaconda3\envs\vbt-pro\lib\site-packages\quantstats\rep ]8;id=479053;file://c:\Users\natta\anaconda3\envs\vbt-pro\lib\warnings.py\warnings.py]8;;\:]8;id=503327;file://c:\Users\natta\anaconda3\envs\vbt-pro\lib\warnings.py#109\109]8;;\
                             orts.py:37: DeprecationWarning: Importing display from
                             IPython.core.display is deprecated since IPython 7.14, please import
                             from IPython display
                               from IPython.core.display import (

                    WARNING  c:\Users\natta\anaconda3\envs\vbt-pro\lib\site-packages\quantstats\uti ]8;id=809854;file://c:\Users\natta\anaconda3\envs\vbt-pro\lib\warnings.py\warnings.py]8;;\:]8;id=673055;file://c:\Users\natta\anaconda3\envs\vbt-pro\lib\warnings.py#109\109]8;;\
                             ls.py:297: DeprecationWarning: `magic(...)` is deprecated since
                             IPython 0.13 (warning added in 8.1), use run_line_magic(magic_name,
                             parameter_s).
                               get_ipython().magic("matplotlib inline")

In [2]:
data = vbt.BinanceData.fetch(
    "BTCUSDT",
    start="2023-04-11 13:30:00",
    end="2023-04-11 16:13:00",
    timeframe="1 minutes",
    tz="Asia/Bangkok"
)

0it [00:00, ?it/s]

In [ ]:
from indicators.adx import ADX

In [ ]:
adx, plusDI, minusDI = ADX(high=data.get("High"), low=data.get("Low"), close=data.get("Close"), period=14)

@2023-04-11 16:12:00+07:00 
ADX     --> 20.37
plusDI  --> 24.80
minusDI --> 35.51

In [ ]:
print("ADX : {}".format(adx.iloc[-1]))
print("plusDI : {}".format(plusDI.iloc[-1]))
print("minusDI : {}".format(minusDI.iloc[-1]))

In [ ]:
adx

In [ ]:
data

In [3]:
data.data["BTCUSDT"]

,Open,High,Low,Close,Volume,Quote volume,Trade count,Taker base volume,Taker quote volume
Open time,,,,,,,,,
2023-04-11 13:30:00+07:00,30086.99,30087.77,30072.49,30072.49,41.44737,1.246846e+06,1062,20.81004,6.260076e+05
2023-04-11 13:31:00+07:00,30072.49,30072.50,30071.46,30072.30,17.91740,5.388180e+05,507,11.37900,3.421930e+05
2023-04-11 13:32:00+07:00,30072.31,30072.31,30063.01,30065.00,23.84371,7.169094e+05,590,11.48279,3.452473e+05
2023-04-11 13:33:00+07:00,30064.99,30067.79,30064.99,30064.99,15.40921,4.632813e+05,456,11.02325,3.314175e+05
2023-04-11 13:34:00+07:00,30064.99,30065.00,30058.86,30058.86,14.29718,4.297834e+05,530,4.36403,1.311836e+05
...,...,...,...,...,...,...,...,...,...
2023-04-11 16:08:00+07:00,30048.14,30048.15,30032.44,30044.19,57.45097,1.725919e+06,1069,20.66356,6.207558e+05
2023-04-11 16:09:00+07:00,30044.20,30045.82,30044.13,30045.68,36.10259,1.084712e+06,553,21.89374,6.578045e+05
2023-04-11 16:10:00+07:00,30045.67,30056.41,30045.51,30054.77,63.44736,1.906680e+06,867,38.40414,1.154103e+06
2023-04-11 16:11:00+07:00,30054.77,30059.59,30052.27,30059.14,28.56432,8.585366e+05,528,22.11269,6.646264e+05
2023-04-11 16:12:00+07:00,30059.13,30063.21,30051.91,30051.91,34.65473,1.041740e+06,591,22.03809,6.624731e+05

In [5]:
import pandas as pd
# add_data = {
#     "Open": 100,
#     "High": 200,
#     "Low": 50,
#     "Close": 150,
#     "Quote volume": 1000,
#     "Trade count": 100,
#     "Taker base volume": 100,
#     "Taker quote volume": 1000,
# }
# add_row = pd.DataFrame(add_data, index=[pd.Timestamp("2023-04-11 16:13:00")])

In [6]:
data.data["BTCUSDT"].loc[pd.Timestamp("2023-04-11 16:13:00")] = [100,100, 100, 100, 100,100,100, 100, 100]

In [7]:
data.data["BTCUSDT"]

,Open,High,Low,Close,Volume,Quote volume,Trade count,Taker base volume,Taker quote volume
Open time,,,,,,,,,
2023-04-11 13:30:00+07:00,30086.99,30087.77,30072.49,30072.49,41.44737,1.246846e+06,1062,20.81004,6.260076e+05
2023-04-11 13:31:00+07:00,30072.49,30072.50,30071.46,30072.30,17.91740,5.388180e+05,507,11.37900,3.421930e+05
2023-04-11 13:32:00+07:00,30072.31,30072.31,30063.01,30065.00,23.84371,7.169094e+05,590,11.48279,3.452473e+05
2023-04-11 13:33:00+07:00,30064.99,30067.79,30064.99,30064.99,15.40921,4.632813e+05,456,11.02325,3.314175e+05
2023-04-11 13:34:00+07:00,30064.99,30065.00,30058.86,30058.86,14.29718,4.297834e+05,530,4.36403,1.311836e+05
...,...,...,...,...,...,...,...,...,...
2023-04-11 16:09:00+07:00,30044.20,30045.82,30044.13,30045.68,36.10259,1.084712e+06,553,21.89374,6.578045e+05
2023-04-11 16:10:00+07:00,30045.67,30056.41,30045.51,30054.77,63.44736,1.906680e+06,867,38.40414,1.154103e+06
2023-04-11 16:11:00+07:00,30054.77,30059.59,30052.27,30059.14,28.56432,8.585366e+05,528,22.11269,6.646264e+05
2023-04-11 16:12:00+07:00,30059.13,30063.21,30051.91,30051.91,34.65473,1.041740e+06,591,22.03809,6.624731e+05
2023-04-11 16:13:00,100.00,100.00,100.00,100.00,100.00000,1.000000e+02,100,100.00000,1.000000e+02

In [ ]:
data.info()

In [11]:
order_test = ['ss']

In [12]:
if not order_test:
    print("Empty")
else:
    print("Not empty")

Not empty

In [13]:
xxxx = order_test.pop(0)

In [14]:
xxxx

'ss'

In [15]:
order_test

[]